body {
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px gray;
}

.logo a {
  text-decoration: none;
  color: navy;
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.nav-menu li {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu a {
  text-decoration: none;
  color: darkblue;
  font-size: 18px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 5px;
}

.nav-menu a:hover {
  color: lightblue;
  text-decoration: none;
  background-color: white;
}

.user-controls {
  display: flex;
  align-items: center;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
}

.username {
  color: navy;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 5px gray;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 8px 10px;
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: lightblue;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: navy;
}

/* RESPONSIVITA */
@media (max-width: 600px) {
  .nav-menu {
      display: none;
      width: 100%;
      position: static;
      transform: none;
  }

  .nav-menu ul {
      flex-direction: column;
      background-color: lightblue;
      padding: 10px;
      justify-content: center;
  }

  .nav-menu li {
      margin: 10px 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .menu-toggle {
      display: block;
  }

  .nav-menu.active {
      display: flex;
  }
}